<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
.border-right{
     border-right: 1px solid;}
.row{margin-top:50px}
.col{height:100vh}
.predictor{
            margin-top:30vh;
            padding:15px}
.output{
            margin-top:20vh;
            padding:15px}

</style>
</head>
<body>

<nav class="navbar navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="#"><b>GALAXY Classifier</b></a>
</nav>
<div class="container">
  <div class="row">
    <div class="col border-right">
      <div class="predictor card">
<form method = "POST" enctype = "multipart/form-data">
            <div class="form-group">
            <label for="inputimage"><h5>Upload Image</h5></label>
            <input type="file" class="form-control-file" id="inputfile" name = "file"><br>
            <input type="submit" class="btn btn-outline-success" value="Predict" class="form-control" >
            </div>
       </form>
     </div>
      
   </div>
   <div class="col ">
     <div class="output card">
         <h5>Predicted Class of Galaxy </h5>
         <br>
         <br> 
         <h4><b> {{ result }} </b></h4>
         <br>     
         <img src="{{path}}" height="300px"/>
    </div>
  </div>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
